@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');


:root {
    --verde-escuro: #354727; 
    --marrom-destaque:#354727; 
    --cor-texto: #1C1C1C;
    --branco-bloco: #cfcaca; 
    --borda-bloco: #E0E0E0; 
   
}


body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: var(--verde-fundo);
    color: var(--cor-texto);
    background-color: #ffffff;
     font-family: "Roboto Mono", monospace;

}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
    padding: 15px 0;
}


.secao-cabecalho {
    background-color: var(--verde-escuro);
    color: var(--branco-bloco);
    padding: 10px 30px;
    text-align: center;
    border-bottom: 5px solid var(--marrom-destaque);
}

.container-menu {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 10px;
}

.container-menu a {
    color: var(--branco-bloco);
    text-decoration: none;
    font-weight: bold;
}

.titulo-principal {
    margin: 0;
    font-size: 2.5em;
}


section {
    padding: 40px 20px;
    text-align: center;
}


.secao-principal h2 {
    background-color: var(--verde-escuro);
    color: var(--branco-bloco);
    padding: 20px;
    border-radius: 10px;
    width: 50%; 
    margin: 20px auto 20px;
}

.bloco-destaque {
    background-color: var(--branco-bloco);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 420px ; /*largura por baixo*/
    width: 60%;
    max-width: 250px 250px;
    margin: 20px auto 20px; /*margem da pagina*/
    font-size: 20px;
}


.secao-esg {
    background-color: var(--verde-fundo); 
    padding: 20px 0 100px;
}

.container-esg {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.esg-definicao, .esg-pilares {
    flex: 1;
    padding: 10px;
}

.esg-definicao h2, .esg-pilares h2 {
    text-align: left;
    margin-bottom: 10px;
    color: var(--cor-texto); 
}

.esg-pilares{
      margin-top: -20%;
margin-left: 290px;
    flex-wrap: wrap;
    gap:70px;
}

.bloco-destaque-grande {
    background-color: var(--marrom-destaque); 
    color: var(--branco-bloco);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 260px; 
    font-size: 20px;
}

.bloco-pilar {
    background-color: var(--branco-bloco);
    border-radius: 50px; 
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: left;
    font-weight: bold;
    color: var(--verde-escuro);
}


.secao-beneficios {
    background-color: var(--verde-fundo); 
}

.secao-beneficios h2 {
    background-color: var(--verde-escuro);
    color: var(--branco-bloco);
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    margin: 20px auto;
    line-height: 1.3;
}

.container-beneficios {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    font-size: 15px;
   
}

.bloco-beneficio {
    background-color: var(--branco-bloco);
    border-radius: 15px;
    height:340px;
    max-width: 700px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bloco-beneficio h3{
     background-color:#6e773b;
    color: var(--branco-bloco);
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    margin: 20px auto;
    line-height: 1.3;
}


.secao-curiosidades {
    background-color: var(--verde-fundo); 
}

.container-curiosidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.bloco-curiosidade {
    background-color: var(--branco-bloco);
    border-radius: 15px;
    height: 120px;
    width: 22%; /* Para ter 4 blocos por linha */
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.secao-colaboradores {
    background-color: var(--verde-escuro); 
    color: var(--branco-bloco);
    padding: 40px 20px;
}

.titulo-colaboradores {
    background-color: var(--marrom-destaque); 
    color: var(--branco-bloco);
    padding: 10px 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto 30px;
}

.container-colaboradores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bloco-colaborador {
    background-color: var(--branco-bloco);
    border-radius: 15px;
    height: 150px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




.adicionar-secao {
    text-align: center;
    padding: 20px;
    color: var(--verde-escuro);
    font-weight: bold;
    cursor: pointer;
}



.secao-footer{
     background: var(--verde-escuro);
    padding: 40px;
    text-align: center;
}








@media (max-width: 768px) {
    .container-esg, .container-beneficios, .container-colaboradores {
        flex-direction: column;
        align-items: center;
    }

    .bloco-destaque, .bloco-destaque-grande {
        width: 90%;
        max-width: none;
    }

    .bloco-beneficio, .bloco-curiosidade, .bloco-colaborador {
        width: 90%;
        max-width: 400px;
    }

    .secao-principal h2, .titulo-colaboradores {
        width: 80%;
    }
}